:root {
  --links-hover-active-bg: #ff6565;
  --buttons-hover-active-opacity: 0.9;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("assets/fonts/source-sans-pro/SourceSansPro-Regular.otf") format("otf");
  font-weight: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("assets/fonts/source-sans-pro/SourceSansPro-Light.otf") format("otf");
  font-weight: 200;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("assets/fonts/source-sans-pro/SourceSansPro-ExtraLight.otf") format("otf");
  font-weight: lighter;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("assets/fonts/source-sans-pro/SourceSansPro-Bold.otf") format("otf");
  font-weight: bold;
}

@font-face {
    font-family: "Spincycle OT";
    src: url("assets/fonts/spin-cycle-ot/spincycle_ot.otf") format("otf");
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  font-family: "Source Sans Pro";
}

header, #hero, main, footer {
  max-width: 1000px;
  margin: 0 auto;
}

section:not(:first-of-type) {
  padding: 5vh 3vw 5vh 3vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#hero-section h1, #hero-section p, #results-section h1, #results-section p {
  color: white;
}
h1 {
  font-size: 4em;
  font-weight: bold;
}
a {
  text-decoration: none;
  font-weight: 700;
  font-size: 2em;
  line-height: 15px;
  color: white;
}
a:hover, a:active {
  color: var(--links-hover-active-bg);
}

button {
  background-color: var(--links-hover-active-bg);
  color: white;
  height: 45px;
  width: 162px;
  border-radius: 33px;
  border: none;
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Source Sans Pro";
  margin: 4vh 0 5vh 0;
  cursor: pointer;
}

button:hover {
  opacity: var(--buttons-hover-active-opacity);
}

#hero-section {
  height: 100vh;
  background: url("assets/images/headphones_hero_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 3vw 0 3vw;
}
header nav {
  padding: 3vh 3vw 3vh 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: auto;
  width: 25vw;
  max-width: 350px;
}
#nav-links {
  width: 30vw;
  max-width: 500px;
  flex-wrap: wrap;
  flex-shrink: 2;
  display: flex;
  justify-content: space-between;
}

#hero {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 60vw;
}
#hero-section p {
  font-size: 2em;
}
#hero-text {
  text-align: center;
  font-weight: lighter;
  font-size: 1.8em !important;
  line-height: 1.6em;
  font-family: "Source Sans Pro";
}
@media screen and (max-width: 480px) {
  #nav-links {
    display: none;
  }
  .logo {
    width: 250px;
  }
  #hero {
    margin-top: 10vh;
  }
  h1 {
    font-size: 2.8em;
  }
  p {
    font-size: 1.4em !important;
  }
  #hero-text {
    line-height: 1.4em;
    font-size: 1.2em !important;
  }
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
  #nav-links {
    display: none;
  }
  .logo {
    width: 250px;
  }
  #hero {
    margin-top: 15vh;
  }
  h1 {
    font-size: 3.2em;
  }
  p {
    font-size: 1.8em !important;
  }
  #hero-text {
    line-height: 1.4em;
    font-size: 1.6em !important;
  }
}